@import url('https://fonts.googleapis.com/css?family=Ubuntu');
/* Main body */
body {
  background-color: #FFFFFF;
  width: 100%;
	height: 100%;
	overflow: hidden;
}
/* Main font */
p {
  font-family: 'Ubuntu', sans-serif;
}
/* ExGen logo at top */
.logo {
  border:none;
  position: relative;
  width: 235px;
  height: 87px;
  margin-left: auto;
  margin-right: auto;
  top: 0px;
  background: url("exgen_small.png");
}
/*Blue bars*/
.barbluetop {
  position: absolute;
  width: 100%;
  height: 8px;
  left: 0px;
  top: 0px;
  background: #00A8A5;
}
.barbluebottom {
  position: absolute;
  width: 100%;
  height: 8px;
  left: 0px;
  top: 96px;
  background: #00A8A5;
}
