<html>
  <head>
    <title>Exams</title>
    <link rel="shortcut icon" href="{{url_for("static", filename="favicon.png")}}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="css/professor/exams.css")}}">
    <meta charset="utf-8">
  </head>
  <body>
    <div id="exgen">
      <div class="barbluetop"></div>
      <img src="{{url_for("static", filename="exgen_plain.png")}}"></img>
      <div class="barbluebottom"></div>
    </div>
    <div class="menu">
      <div id='home'><a href="/home"><button class="menubutton"><span><p>Home</p></span></button></a></div>
        <div id='modules'><a href="/modules"><button class="menubutton"><span><p>Modules</p></span></button></a></div>
        <div id='exams'><a href="/exams"><button class="menucurrent"><span><p>Exams</p></span></button></a></div>
        <div id='course'><a href="/course-results"><button class="menubutton"><span><p>Course Results</p></span></button></a></div>
        <div id='settings'><a href="/settings"><button class="menubutton"><span><p>Settings</p></span></button></a></div>
    </div>
    <div class="logout"><a href="/logout"><button class="logoutbutton"><span><p>Logout</p></span></button></a></div>
    <div class="username">{{ session.username }}</div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="flashed">
            <div class="alert alert-info alert-dismissible" role="alert">
              <p>{{message}}</p>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <div class="main" align="center">
      <div class="registered">
        <p2><b>Your modules</b></p2>
        <div class="modules">
          <form name="module_buttons_form" class="module_buttons_form" action="/exams/" method="POST">
            {% if course_code == "NULL" %}
              <p2><i>No modules registered</p2></i>
            {% else %}
              {% set course_name = '' %}
              {% for module in modules %}
                {% if course_code == module.ModuleCode %}
                  {% set course_name = module.ModuleName %}
                  <li>
                    <input type="radio" name="module_buttons" onchange='this.form.submit();' id="{{ module.ModuleCode }}" value="{{ module.ModuleCode }}" checked="checked"></input>
                    <label for="{{ module.ModuleCode }}"><p2>{{ module.ModuleCode }}</p2></label>
                  </li>
                {% else %}
                  <li>
                    <input type="radio" name="module_buttons" onchange='this.form.submit();' id="{{ module.ModuleCode }}" value="{{ module.ModuleCode }}"></input>
                    <label for="{{ module.ModuleCode }}"><p2>{{ module.ModuleCode }}</p2></label>
                  </li>
                {% endif %}
              {% endfor %}
              <p3><b>{{ course_name }}</p3></b>
            {% endif %}
          </form>
        </div>
        <br>
        {% if course_code != "NULL" %}
          <div class="exams" align="center">
            {% for module in modules %}
              {% if module.ModuleCode == course_code %}
                <p2>{{ module.ModuleName }}</p2>
                {% if exams != [] %}
                  <form name="exam_buttons_form" class="exam_buttons_form" action="/exams/" method="POST">
                    <div class="exams-modules">
                      {% for exam in exams %}
                        {% if exam == index_exam %}
                          <li>
                            <input type="radio" name="exam_buttons" onchange='this.form.submit();' id="{{ exam.Title }}" value="{{ exam.Title }}" checked="checked"></input>
                            <label for="{{ exam.Title }}"><p2>{{ exam.Title }}</p2></label>
                          </li>
                        {% else %}
                          <li>
                            <input type="radio" name="exam_buttons" onchange='this.form.submit();' id="{{ exam.Title }}" value="{{ exam.Title }}"></input>
                            <label for="{{ exam.Title }}"><p2>{{ exam.Title }}</p2></label>
                          </li>
                        {% endif %}
                      {% endfor %}
                    </div>
                  </form>
                  <a href="/create-exam"><button class="create-exam">Create Exam</button></a>
                {% else %}
                  <div class="no-exams">
                    <p2><i>No exams</i></p2>
                    <a href="/create-exam"><button class="create-exam">Create Exam</button></a>
                  </div>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>

  </body>
</html>
