@import url('https://fonts.googleapis.com/css?family=Ubuntu');
/* Main body */
body {
  background-color: #FFFFFF;
  width: 100%;
	height: 100%;
	overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Main font */
p {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: normal;
  text-align: center;
}
p2 {
  position: relative;
  top: 20px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  color: grey;
  font-size: 14px;
  line-height: normal;
  text-align: center;
}
p3 {
  position: relative;
  top: 25px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: normal;
  text-align: center;
  color: red;
}
.errors {
  position: relative;
  left: 470;
  color: red;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: normal;
  text-align: left;
}
.namepos {
  position: relative;
  top: -23px;
}
.emailpos {
  position: relative;
  top: -24px;
}
.passwordpos {
  position: relative;
  top: -9px;
}
.confirmpos {
  position: relative;
  top: 16px;
}
.tospos {
  position: relative;
  top: -5px;
}
input[type=text] {
  background-color: transparent;
  position: relative;
  border: 2px solid #00A8A5;
  border-radius: 5px;
  width: 400px;
  height: 30px;
  left: -40px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: normal;
  text-align: center;
}
input[type=password] {
  background-color: transparent;
  position: relative;
  border: 2px solid #00A8A5;
  border-radius: 5px;
  top: 15px;
  width: 400px;
  height: 30px;
  left: -40px;
  margin: 0px 0;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: normal;
  text-align: center;
}
input[type="checkbox"] {
  background-color: transparent;
  position: relative;
  top: 22px;
  left: -42px;
}
input[type=submit] {
  position: relative;
  background-color: #00A8A5;
  border: none;
  border-radius: 5px 5px 5px 5px;
  top: 15px;
  color: black;
  padding: 3px 25px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: normal;
  text-align: center;
  vertical-align: middle;
}
::placeholder {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: normal;
  text-align: center;
  color: black;
  opacity: 1;
}
/* ExGen logo at top */
img {
  border:none;
  position: relative;
  width: 400px;
  height: 135px;
  top: 8px;
}
.reg {
  position:absolute;
  width: 600px;
  height: 400px;
  left: 50%;
  top:50%;
  margin:-300px 0 0 -300px;
}
dd {
  width: 600px;
  height: 32px;
  left: 100px;
}
br {
   display: block;
   margin: 8px 0;
}
