@import url('https://fonts.googleapis.com/css?family=Ubuntu');
/* Main body */
body {
  background-color: #FFFFFF;
  width: 100%;
	height: 100%;
	overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Main font */
p {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: normal;
  text-align: center;
}
p2 {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  text-align: left;
}
.menu {
  position: relative;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  top: 15px;
  width: 435px;
  height: 30px;
  display: flex;
  justify-content: space-around;
}
.menucurrent {
  background-color: #00A8A5;
  border: none;
  border-radius: 0px 0px 10px 10px;
  height: 30px;
  color: black;
  padding: 15px 32px;
}
.menucurrent span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  top: -32px;
}
.logoutbutton {
  background-color: #00A8A5;
  border: none;
  border-radius: 0px 0px 10px 10px;
  height: 30px;
  color: black;
  padding: 15px 32px;
}
.logoutbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  top: -32px;
}
.menubutton {
  background-color: transparent;
  border: none;
  border-radius: 0px 0px 10px 10px;
  height: 30px;
  color: black;
  padding: 15px 32px;
}
.menubutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  top: -32px;
}
/* ExGen logo at top */
img {
  border:none;
  position: relative;
  width: 300px;
  height: 87px;
  left: 50%;
  margin-left: -150px;
  top: 8px;
}
.username {
  position: relative;
  top: -78px;
  float: right;
  left: 80px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: normal;
  text-align: right;
}
.logout {
  position: relative;
  top: -14px;
  float: right;
  left: 6px;
}
/*Blue bars*/
.barbluetop {
  position: absolute;
  width: 100%;
  height: 8px;
  left: 0px;
  top: 0px;
  background: #00A8A5;
}
.barbluebottom {
  position: absolute;
  width: 100%;
  height: 8px;
  left: 0px;
  top: 96px;
  background: #00A8A5;
}
.flashed {
  position: absolute;
  top: 19px;
  left: 40px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: normal;
  text-align: left;
}
.main {
  position: relative;
  top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}
.spacer {
		margin-top: 50px;
}
.reset-password {
  position: relative;
  text-align: left;
}
.delete-account {
  position: relative;
  text-align: left;
}
.verification {
  position: relative;
  text-align: left;
}
.segment-name {
  width: 180px;
  text-align: center;
}
.message {
  position: relative;
  margin: 0px -300px;
  left: 50%;
  top: 20px;
  width: 600px;
  text-align: center;
}
button {
  position: absolute;
  position: relative;
  background-color: #00A8A5;
  border: none;
  border-radius: 5px 5px 5px 5px;
  color: black;
  padding: 3px 16px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: normal;
  text-align: center;
  vertical-align: middle;
}
.reset-button {
  position: relative;
  left: 50%;
  width: 170px;
  margin: 0px -85px;
  top: 30px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: normal;
  text-align: center;
}
.delete-button {
  position: relative;
  left: 50%;
  width: 165px;
  margin: 0px -82.5px;
  top: 30px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: normal;
  text-align: center;
}
.request-button {
  position: relative;
  left: 50%;
  width: 110px;
  margin: 0px -55px;
  top: 30px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: normal;
  text-align: center;
}
